<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SEMED</title>
    <link rel="stylesheet" href="../static/estilovista.css" />
  </head>
  <body>
    <div class="container">
      <div class="icon">
        <span>📄✔️</span>
      </div>
      <h1>SEMED</h1>
      <h2>Sistema de Semaforización de Medicamentos</h2>
      <p>
        Optimice la gestión de inventario clínico con nuestro sistema de
        clasificación por colores que garantiza la seguridad del paciente y
        reduce el desperdicio de medicamentos.
      </p>
      <a href="./index.html" class="btn">Comenzar ahora</a>
    </div>
  </body>
</html>
